/* ======================================
    1. Fonts & Reset
   ====================================== */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================================
    2. Global Styles
   ========================================= */
   body {
    font-family: 'Saira', sans-serif;
    background-color: #050505;
    color: #ffffff;
    overflow-x: hidden;
}